body, *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.hero{
    background-image: url("/images/hawthorne.jpg");
    height: 400px;
    text-align: center;
    padding-top: 122px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


#hero-heading{
    margin-bottom: 20px;
    background-color:#003459;
    padding: 10px;
    border-radius: 20px;
}

#hero-catch{
    background-color: #3a6ea5;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    border-radius: 10px;
}

#activity-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c0c0c0;
    padding-bottom: 30px;
}

#activity{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1000px;

}


#guide-img{
    width: 150px;
    border-radius: 5px;
    margin: auto 10px;

}

#guide-subsection{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-activities{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.activity-item{
    max-width: 320px;
    margin:10px auto;
}
.activity-margin{
    margin-top:20px;
}
.guide-section{
    width: 600px;
    text-align: center;
    display:flex;
    margin: 40px auto;
    padding: 40px;
    align-items: center;
    justify-content:  space-evenly;
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


h2{
    margin: 40px auto;
}
